.article__offer {
    padding: 1rem
}
h3 {
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.article__offer__services__list {
    padding-top: 100px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 43px;
}
.article__offer__services__list:hover {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}
.article__offer__services__info {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}
.article__offer__services__icon {
    width: 27px;
    height: 27px;
}

.article__offer__services__button--bluesky,
.article__offer__services__button--green,
.article__offer__services__button--red {
    width: 67px;
    height: 67px;
    border: none;
    border-radius: 16px;
    padding: 10px;
}
.article__offer__services__button--bluesky {
    background-color: #2D9CDB;
}
.article__offer__services__button--green {
    background: #27AE60;
    color: white;
    font-size: 27px;
}
.article__offer__services__button--red {
    background: #EB5757;
}
.article__offer__services__button,
.article__offer__services__button--blue {
    width: 116px;
    height: 42px;
    border-radius: 12px;
    border: none;
}
.article__offer__services__button {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}
.article__offer__services__button--blue {
    background-color: #2D9CDB;
    color: white;
    font-size: 16px;
}

@media (min-width: 1114px) {
    .article__offer {
        padding-left: 113px;
        padding-right: 113px;
    }
    .article__offer__services {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h3 {
        width: 346px;
        height: 108px;
        font-size: 36px;
        line-height: 54px;
        padding-bottom: 42px;
        padding-top: 200px;
    }
}
