.design__sample {
    border-radius: 12px;
}
.article__design__list {
    margin-bottom: 2rem;
}
.article__design__list__item {
    padding-top: 2rem;
}
.article__design__brand {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #828282;
}
.article__design__name {
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    margin: 0;
}
.article__design__link {
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #2D9CDB;
}
@media (min-width: 1114px) {
    .article__design {
        padding-left: 113px;
        padding-right: 113px;
    }
 .article__design__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
 }
 .article__design__header > h3 {
    width: 448px;
    height: 108px;
 }
 .article__design__list__item:nth-of-type(1),
 .article__design__list__item:nth-of-type(3) {
     padding-top: 188px;
 }
 .article__design__link {
    position: absolute;
    right: 10%;
 }
}