h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.article__offer__services__button--bluesky,
.article__offer__services__button--green,
.article__offer__services__button--red {
    width: 67px;
    height: 67px;
    border: none;
    border-radius: 16px;
    padding: 10px;
}
.article__offer__services__button--bluesky {
    background-color: #2D9CDB;
}
.article__offer__services__button--green {
    background: #27AE60;
    color: white;
    font-size: 27px;
}
.article__offer__services__button--red {
    background: #EB5757;
}
