html {
    font-family: "Poppins";
}
body {
    margin: 0;
    padding: 1rem;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
.article__offer__services__icon {
    width: 27px;
    height: 27px;
}

