html {
    font-family: "Poppins";
    font-weight: 500;
}
body {
    margin: 0;
}
h3 {
    margin: 0;
    padding-top: 1rem;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    width: 100%;
}


