@font-face {
    font-style: normal;
    font-family:"Heebo";
    src: local("Heebo"),
         local("Heebo"),
         url('../fonts/Heebo-Regular.woff2') format('woff2'),
         url('../fonts/Heebo-Regular.woff') format('woff');
  }