#contact {
    background: #100E1D;
}
.social__media__icon {
    width: 24px;
}
.social__media__list {
    margin: 0;
    display: flex;
    flex-direction: row;
}
.social__media__list__item {
    padding-right: 1rem;
}