#contact {
    background: #100E1D;
    padding: 40px;
}
.footer__menu_list {
    margin: 0;
    padding: 1rem;
}
.footer__menu__link {
    color: #F2F2F2;
    font-size: 18px;
}
.social__media {
    padding-top: 65px;
    padding-bottom: 65px;
}
h5 {
    font-family: "Heebo";
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: #ffff;
    margin: 0;
    padding: 1rem;
}
.social__media__icon {
    width: 24px;
}
.social__media__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.social__media__list__item {
    padding-right: 1rem;
}
.form__input__wrapper,
.form__input > input {
    background: #F2F2F2;
    border-radius: 12px;
}
.form__input__wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form__button {
    width: 71px;
    height: 39px;
    background: #2D9CDB;
    border-radius: 12px;
    border: none;
    color: white;
}
.copyright {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    padding-top: 133px;
    padding-bottom: 45px;
    text-align: center;
}
@media (min-width: 1114px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .social__media {
        padding: 0;
    }
}