.masthead__image {
    border-radius: 18px;
}
.masthead__subheading {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 96px;
}
.masthead__category {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2D9CDB;
}
h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.article__purpose {
    padding-left: 40px;
    padding-right: 40px;
}