.masthead {
    padding: 15px;
}
.masthead__image {
    border-radius: 18px;
}
.masthead__subheading {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 96px;
}
.masthead__category {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2D9CDB;
}
h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.article__purpose {
    padding-left: 40px;
    padding-right: 40px;
}
.article___purpose__wrapper__input,
input {
    background: #F2F2F2;
    border-radius: 12px;
    padding: 1rem;
}
input {
    border: none;
}
.article__purpose__form_button {
    width: 71px;
    height: 39px;
    background: #2D9CDB;
    border-radius: 12px;
    border: none;
    color: white;
}
label {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #828282;
}
.article__purpose__info {
    font-size: 12px;
    color: #4F4F4F;
}
.article___purpose__wrapper__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 1114px) {
    .masthead {
        padding-left: 52px;
        padding-right: 52px;
    }
    .article__purpose {
        padding-left: 277px;
        padding-right: 277px;
    }
    .masthead__category {
        font-size: 18px;
        line-height: 27px;
        margin: 0;
    }
    h2,
    .article__purpose__info {
        width: 366px;
        height: 137px;
    }
    h2 {
        font-size: 48px;
       line-height: 72px;
    }
    .masthead__subheading > h2 {
        width: 543px;
        height: 144px;
    }

    .article__purpose__info {
        font-size: 18px;
        line-height: 27px;
    }
    label {
        font-size: 14px;
    }
    .article___purpose__wrapper__input {
        width: 350px;
        height: 57px;
    }
    input {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #BDBDBD;
    }
}