.menu {
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    background-color: white;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 420px;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    transform: translateX(-110%);
    transition: transform 0.3s;
  }
  
  body > [type="checkbox"]:checked ~ .menu {
    transform: translateX(0);
  }
  
  body > [type="checkbox"]:checked ~ header label {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.25);
  }
  
  body > [type="checkbox"]:checked ~ main {
    z-index: 1;
    opacity: 0.5;
  }
  
  
  body > header .icon_menu {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../img/menu-icon-black.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  body > nav .icon_menu {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../img/close-menu-icon.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .a11y,
  [type="checkbox"] {
    opacity: 0;
  }
  
  .menu ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    text-align: center;
    padding-top: 3rem;
  }
  .menu li {
    padding-bottom: 1rem;
  }
  .menu__link {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
  }
  .menu__link--active,
  .menu__link:hover {
      font-weight: bold;
  }
  
  body > nav > ul a:hover {
    opacity: 1;
  }
  
  body > [type="checkbox"],
  .icon_menu {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
  @media (min-width: 1114px) {
  .menu {
    padding: 0;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none
  }
  
  /* Switch from column to row flex */
  .menu ul {
    flex-direction: row;
    position: absolute;
    width: 638px;
    top: 0;
    right: 0;
    padding-right: 52px;
    padding-top: 2rem;
  }
   .icon_menu {
    display: none;
  }
  body > nav .icon_menu,
  body > header .icon_menu {
    display: none;
  }
  .menu__link {
    padding-left: 2rem;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
  }
  }
  