@font-face {
  font-style: normal;
  font-family: "Heebo";
  src: local("Heebo"), local("Heebo"), url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff"); }

html {
  font-family: "Poppins"; }

body {
  margin: 0; }

h3 {
  margin: 0;
  padding-top: 1rem; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  width: 100%; }

.article__offer__services__icon {
  width: 27px;
  height: 27px; }

body > header {
  padding: 15px; }

h1 {
  font-family: "Heebo";
  font-weight: 800;
  font-size: 24px;
  line-height: 35px; }

@media (min-width: 1114px) {
  body > header {
    padding-left: 52px;
    padding-right: 52px; }
  h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 53px; } }

.masthead {
  padding: 15px; }

.masthead__image {
  border-radius: 18px; }

.masthead__subheading {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 96px; }

.masthead__category {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2D9CDB; }

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.article__purpose {
  padding-left: 40px;
  padding-right: 40px; }

.article___purpose__wrapper__input,
input {
  background: #F2F2F2;
  border-radius: 12px;
  padding: 1rem; }

input {
  border: none; }

.article__purpose__form_button {
  width: 71px;
  height: 39px;
  background: #2D9CDB;
  border-radius: 12px;
  border: none;
  color: white; }

label {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #828282; }

.article__purpose__info {
  font-size: 12px;
  color: #4F4F4F; }

.article___purpose__wrapper__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem; }

@media (min-width: 1114px) {
  .masthead {
    padding-left: 140px;
    padding-right: 140px; }
  .article__purpose {
    padding-left: 277px;
    padding-right: 277px; }
  h2,
  .article__purpose__info {
    width: 366px;
    height: 137px; }
  h2 {
    font-size: 48px;
    line-height: 72px; }
  .masthead__subheading > h2 {
    width: 543px;
    height: 144px; }
  .article__purpose__info {
    font-size: 18px;
    line-height: 27px; }
  label {
    font-size: 14px; }
  .article___purpose__wrapper__input {
    width: 350px;
    height: 57px; }
  input {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #BDBDBD; } }

.article__offer {
  padding: 1rem; }

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.article__offer__services__list {
  padding-top: 100px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 43px; }

.article__offer__services__list:hover {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px; }

.article__offer__services__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F; }

.article__offer__services__button--bluesky,
.article__offer__services__button--green,
.article__offer__services__button--red {
  width: 67px;
  height: 67px;
  border: none;
  border-radius: 16px;
  padding: 10px; }

.article__offer__services__button--bluesky {
  background-color: #2D9CDB; }

.article__offer__services__button--green {
  background: #27AE60;
  color: white;
  font-size: 27px; }

.article__offer__services__button--red {
  background: #EB5757; }

.article__offer__services__button,
.article__offer__services__button--blue {
  width: 116px;
  height: 42px;
  border-radius: 12px;
  border: none; }

.article__offer__services__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #828282; }

.article__offer__services__button--blue {
  background-color: #2D9CDB; }

@media (min-width: 1114px) {
  .article__offer__services {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  h3 {
    width: 346px;
    height: 108px;
    font-size: 36px;
    line-height: 54px;
    padding-bottom: 42px;
    padding-top: 200px; } }

.design__sample {
  border-radius: 12px; }

.article__design__list {
  margin-bottom: 2rem; }

.article__design__brand {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #828282; }

.article__design__name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
  margin: 0; }

.article__design__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2D9CDB; }

@media (min-width: 1114px) {
  .article__design__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem; }
  .article__design__header > h3 {
    width: 448px;
    height: 108px; }
  .article__design__list__item:nth-of-type(1),
  .article__design__list__item:nth-of-type(3) {
    padding-top: 188px; }
  .article__design__link {
    position: absolute;
    right: 10%; } }

.article__team {
  margin-top: 3rem; }

.article__team__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #EB5757; }

.article__team__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.article__team__list {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-areas: "item1 item2" "item1 item3"; }

.article__team__list__item:nth-of-type(1) {
  grid-area: item1;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding-top: 6rem; }

.article__team__list__item:nth-of-type(2) {
  grid-area: item2;
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.article__team__list__item:nth-of-type(3) {
  grid-area: item3;
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.team__profile {
  border-radius: 24px; }

.article__quote {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.article__team__profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem; }

.team__blog__post {
  border-radius: 24px;
  grid-column: 1 / 2; }

.article__team__about {
  grid-column: 2 / 4; }

.article__team__name,
.article__team__profession {
  font-style: normal;
  font-weight: 500; }

.article__team__name {
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.article__team__profession {
  font-size: 18px;
  line-height: 27px;
  color: #828282; }

@media (min-width: 1114px) {
  .article__team {
    margin: 0;
    padding-top: 219px; }
  .article__team__header {
    padding-top: 6rem; }
  .article__team__header > h3 {
    padding-top: 1rem;
    width: 280px;
    height: 162px; }
  .article__team__container {
    display: flex;
    flex-direction: row; }
  .article__team__member {
    padding-left: 280px; }
  .article__quote {
    width: 937px;
    height: 162px;
    font-size: 36px;
    line-height: 54px;
    padding-top: 120px; } }

.menu {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  background-color: white;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 420px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

body > [type="checkbox"]:checked ~ .menu {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1;
  opacity: 0.5; }

body > header .icon_menu {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("../img/menu-icon-black.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer; }

body > nav .icon_menu {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("../img/close-menu-icon.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer; }

.a11y,
[type="checkbox"] {
  opacity: 0; }

.menu ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  text-align: center;
  padding-top: 3rem; }

.menu li {
  padding-bottom: 1rem; }

.menu__link {
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #333333; }

.menu__link--active,
.menu__link:hover {
  font-weight: bold; }

body > nav > ul a:hover {
  opacity: 1; }

body > [type="checkbox"],
.icon_menu {
  position: absolute;
  top: 1.5rem;
  right: 1rem; }

@media (min-width: 1114px) {
  .menu {
    padding: 0;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  /* Switch from column to row flex */
  .menu ul {
    flex-direction: row;
    position: absolute;
    width: 638px;
    top: 0;
    right: 0;
    padding-right: 52px;
    padding-top: 2rem; }
  .icon_menu {
    display: none; }
  body > nav .icon_menu,
  body > header .icon_menu {
    display: none; }
  .menu__link {
    padding-left: 2rem;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #333333; } }

#contact {
  background: #100E1D;
  padding: 40px; }

.footer__menu_list {
  margin: 0;
  padding: 1rem; }

.footer__menu__link {
  color: #F2F2F2;
  font-size: 18px; }

.social__media {
  padding-top: 65px;
  padding-bottom: 65px; }

h5 {
  font-family: "Heebo";
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: #ffff;
  margin: 0;
  padding: 1rem; }

.social__media__icon {
  width: 24px; }

.social__media__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 1rem; }

.social__media__list__item {
  padding-right: 1rem; }

.form__input__wrapper,
.form__input > input {
  background: #F2F2F2;
  border-radius: 12px; }

.form__input__wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.form__button {
  width: 71px;
  height: 39px;
  background: #2D9CDB;
  border-radius: 12px;
  border: none;
  color: white; }

.copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
  padding-top: 133px;
  padding-bottom: 45px;
  text-align: center; }

@media (min-width: 1114px) {
  #contact {
    padding-left: 140px;
    padding-right: 140px; }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .footer__menu_list {
    padding: 0; }
  .social__media {
    padding: 0; } }
